.resultados{
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
}

.resultado{
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    min-width: 300px;
    max-width: 300px;
}

.foto{
    height: 200px;
    border-radius: 5px;
}

.detalles{
    padding-left: 10px;
}

.nombre{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 35px;
}

.pais{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}